.form-wrapper {
  .form-group {
    margin: 40px 0;
  }

  .submit-button {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    height: 48px;
    padding: 0 12px;
    background-color: white;
  }
}
