
.input-layout {
  &__container {
    display: inline-flex;
    flex-direction: column;

    &.full-width {
      width: 100%;
    }
  }

  &__input-wrapper {
    position: relative;

    input:-webkit-autofill::first-line,
    input:-webkit-autofill:hover::first-line,
    input:-webkit-autofill:focus::first-line {
      font-size: 16px;
    }
  }

  &__helper-text {
    &.error {
      color: red;
    }
  }

  &__label {
    position: absolute;
    top: 8px;
    left: 0;
    color: grey;
    transition: all 140ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;

    &.float {
      pointer-events: visible;
      color: black;
      transform: translateY(calc(-140%));

      &.with-adornment {
        left: 0;
      }
    }

    &.with-adornment {
      left: 40px;
    }

    &.error {
      color: red;
    }
  }
}
